.container {
  display: flex;
  box-sizing: border-box;
  position: relative;

  &.none {
    padding: 0;
  }

  &.micro {
    padding: 8px;
  }

  &.tiny {
    padding: 16px;
  }

  &.small {
    padding: 25px;
  }

  &.medium {
    padding: 32px;
  }

  &.large {
    padding: 48px;
  }

  &.big {
    padding: 64px;
  }

  &.huge {
    padding: 80px;
  }

  &.lateralMedium {
    padding: 0 32px;
  }

  &.lateralLarge {
    padding: 0 48px;
  }

  &.no-margin {
    margin: 0;
  }

  &.negative {
    margin: -8px;
  }

  &.tiny-margin {
    margin: 8px;
  }

  &.horizontal {
    flex-direction: row;
    flex-wrap: wrap;
  }

  &.vertical {
    flex-direction: column;
  }

  &.alignLeft {
    justify-content: flex-start;
  }

  &.alignRight {
    justify-content: flex-end;
  }

  &.alignCenter {
    justify-content: center;
    align-items: center;
  }

  &.alignItemsCenter {
    align-items: center;
  }

  &.spreadContent {
    justify-content: space-between;
  }

  &.fullWidth {
    width: 100%;
    overflow-x: hidden;
  }

  &.scrollWidth {
    width: 100%;
    overflow-x: scroll;
    flex-wrap: nowrap;
  }

  &.fullHeight {
    flex: 1;
    height: 100%;
    overflow-y: hidden;
  }

  &.scrollable {
    overflow-y: scroll;
  }

  &.fullScreen {
    width: 100%;
    height: 100%;
    background-color: #fff;
  }

  &.showOverflow {
    overflow: auto;
  }

  &.overFlowVisible {
    overflow: visible;
  }

  &.initialPosition {
    position: initial;
  }

  &.verticalCenter {
    align-content: center;
  }

  &.verticalTop {
    align-content: flex-start;
  }

  &.verticalBottom {
    align-content: flex-end;
  }

  &.marginLeftAuto {
    margin-left: auto;
  }

  &.borderBottom {
    border-bottom: 1px solid #000;
  }

  &.borderTop {
    border-top: 1px solid #000;
  }
}
