.tableWrapper {
  height: 100%;
  overflow: hidden;
}

.table {
  display: grid;
  border-collapse: collapse;
  min-width: 100%;
  grid-template-columns: 40% 45% 15%;

  thead,
  tbody,
  tr {
    display: contents;
  }

  .headerCell {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f5f9;
    height: 52px;
    padding: 5px;
    top: 0;
    left: 0;
    z-index: 2;
    position: sticky;

    .sort {
      margin-left: 16px;
    }

    &:not(:hover) {
      .sort {
        display: none;
      }
    }

    &:first-child {
      border-radius: 12px 0 0 12px;
      justify-content: flex-start;
      padding-left: 15px;
    }

    &:last-child {
      border-radius: 0 12px 12px 0;
    }
  }

  .bodyCell {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid #d5dbe2;

    &:first-child {
      justify-content: flex-start;
      padding-left: 15px;
    }

    &:last-child {
      padding-right: 15px;
    }
  }

  .tableRow {
    &.disabled {
      color: #b2b9c1;
    }
  }

  tbody tr:last-child td {
    border-bottom: none;
  }
}

@media (max-width: 767px) {
  .table .hiddenInMobile {
    display: none;
  }
}

@media (max-width: 1023px) {
  .table .hiddenInTablet {
    display: none;
  }
}

@media (min-width: 768px) {
  .table {
    grid-template-columns: 30% 10% 20% 30% 15%;

    .headerCell,
    .bodyCell {
      &:first-child {
        padding-left: 30px;
      }

      &:last-child {
        padding-right: 30px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .table {
    grid-template-columns: 25% 10% 10% 15% 20% 10% 10%;

    .headerCell,
    .bodyCell {
      &:first-child {
        padding-left: 25px;
      }

      &:last-child {
        padding-right: 25px;
      }
    }
  }
}
