.tableWrapper {
  height: 100%;
  overflow: hidden;
}

.table {
  display: grid;
  border-collapse: collapse;
  min-width: 100%;
  grid-template-columns: 30% 10% 10% 10% 20% 10% 10%;

  thead,
  tbody,
  tr {
    display: contents;
  }

  .headerCell {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f5f9;
    height: 52px;
    padding: 5px;
    top: 0;
    left: 0;
    z-index: 2;
    position: sticky;

    .sort {
      margin-left: 16px;
    }

    &:not(:hover) {
      .sort {
        display: none;
      }
    }

    &:first-child {
      border-radius: 12px 0 0 12px;
      justify-content: flex-start;
      padding-left: 30px;
    }

    &:last-child {
      border-radius: 0 12px 12px 0;
    }
  }

  .bodyCell {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid #d5dbe2;

    &:first-child {
      justify-content: flex-start;
      padding-left: 18px;
      margin-left: 12px;
    }

    &:last-child {
      margin-right: 12px;
    }
  }

  .tableRow {
    &.disabled {
      color: #b2b9c1;
    }
  }

  tbody tr:last-child td {
    border-bottom: none;
  }
}
